/* app css stylesheet */
html {
  font-family: Tahoma, Arial;
  color : #555;
}
body {
  padding : 24px;
}
header {
  padding: 12px;
  background: #eee;
  position : relative;
  border: 1px solid #ddd;
}
header #versioning {
  position: absolute;
  right: 12px;
  top: 7px;
  font-size: 12px;
  color: #aaa;
}
header #versioning p{
  margin : 0;
  padding : 0;
}
h2 {
  color : #1cb4e6;
}
.menu {
  list-style: none;
  margin : 0;
  padding : 0;
}
.menu:before {
  content: "-";
}
.menu:after {
  content: "-";
}
.menu > li {
  display: none;
}
.menu > li.visibletab {
  display: inline;
}
.menu > li a{
  color : #000;
}
.menu > li:before {
  /*content: "|";*/
  padding-right: 0.3em;
}
.menu .activetab a{
  color : #aaa;
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
td button {
  width: 86px;
  font-size: 12px;
  padding: 3px;
  margin-bottom: 4px;
}
.field-container{
    padding : 12px 0;
}
.field-container p{
    padding : 0;
    margin : 0;
}
.user-edit-row span {
  
  text-decoration: line-through;
}
.user-edit-row span.editable {
  text-decoration: none;
}
.user-edit-row span input{
  display: none;
}
.user-edit-row span.editable input{
  display: inline;
}
.user-edit-row span.activespan {
  text-decoration: none;
  font-weight : bold;
}
.advertiser-permissions span {
  padding-right : 8px;
  font-size : 12px;
}
.advertiser-permissions span input{
  margin-right : 5px;
}
.btn-toolbar {
  margin-left: 0;
}
tr.user-add-row{
  background : #eee;
}
p.advertiser-title{
  margin-bottom: 2px;
}
.nonvisible {
  display :none;
}





